
body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
color: blue;
}
h2 {
  color:aquamarine;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

.left-image {
  float: left;
  width: 45%; 
  margin-right: 5%; 
}

.right-image {
  float: right;
  width: 45%; 
  margin-left: 5%; 
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}